<?xml version="1.0"?>
<config>
    <modules>
        <Orba_Payuplpro>
            <version>1.2.0</version>
        </Orba_Payuplpro>
    </modules>
    <frontend>
        <routers>
            <payuplpro>
                <use>standard</use>
                <args>
                    <module>Orba_Payuplpro</module>
                    <frontName>payuplpro</frontName>
                </args>
            </payuplpro>
        </routers>
        <layout>
            <updates>
                <payuplpro>
                    <file>payuplpro.xml</file>
                </payuplpro>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Payuplpro>
                    <files>
                        <default>Orba_Payuplpro.csv</default>
                    </files>
                </Orba_Payuplpro>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <payuplpro>
                <class>Orba_Payuplpro_Block</class>
            </payuplpro>
        </blocks>
        <models>
            <payuplpro>
                <class>Orba_Payuplpro_Model</class>
            </payuplpro>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Orba_Payuplpro_Model_Adminhtml_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <service_order>Orba_Payuplpro_Model_Sales_Service_Order</service_order>
                    <order_payment>Orba_Payuplpro_Model_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <events>
            <sales_order_payment_cancel>
                <observers>
                    <orba_payuplpro_observer>
                        <type>singleton</type>
                        <class>payuplpro/observer</class>
                        <method>cancelPayment</method>
                    </orba_payuplpro_observer>
                </observers>
            </sales_order_payment_cancel>
        </events> 
        <resources>
            <payuplpro_setup>
                <setup>
                    <module>Orba_Payuplpro</module>
                    <class>Orba_Payuplpro_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payuplpro_setup>
            <payuplpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payuplpro_write>
            <payuplpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payuplpro_read>
        </resources>
        <helpers>
            <payuplpro>
                <class>Orba_Payuplpro_Helper</class>
            </payuplpro>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <default>
        <payment>
            <payuplpro>
                <active>0</active>
                <model>payuplpro/payment</model>
                <encoding>UTF</encoding>
                <title>Payu.pl</title>
                <description>Płatność kartą lub przelewem bankowym za pomocą Payu.pl</description>
                <gateway_url>https://www.platnosci.pl/paygw</gateway_url>
                <gateway_type>after_checkout</gateway_type>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <cancel_enabled>0</cancel_enabled>
                <link_in_email>1</link_in_email>
                <create_order_invoice>1</create_order_invoice>
                <status_pending_payment>pending_payment</status_pending_payment>
                <status_processing>processing</status_processing>
                <status_holded>holded</status_holded>
                <process_old_paid_transactions>0</process_old_paid_transactions>
            </payuplpro>
        </payment>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Payuplpro>
                    <files>
                        <default>Orba_Payuplpro.csv</default>
                    </files>
                </Orba_Payuplpro>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <payuplpro before="Mage_Adminhtml">Orba_Payuplpro_Adminhtml</payuplpro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
